form(name="reply", action="/api/r", method="post")
    input(type="hidden", name="reply_to" value="#{story._id}")
    input(type="text", name="name" placeholder="Name" value="")
    input(type="text", name="email" placeholder="Email" value="")
    textarea(name='content', rows=10, cols=30, placeholder="Your story") 
    input(type="text", name="media" placeholder="Media url (pic or video)")
    input(type="submit", value="reply")