extends layout

prepend content
        
    section
        article
            div.createbox
                form(name="create", action="/api/c", method="post")
                    input(type="text", name="name" placeholder="Name" value="Meda")
                    input(type="text", name="email" placeholder="Email" value="me@da.fr")
                    input(type="text", name="title" placeholder="Title")
                    textarea(name='content', rows=10, cols=50, placeholder="Your story") 
                    input(type="text", name="media" placeholder="Media url (pic or video)")
                    input(type="submit", value="create")
                
        
