div.float_left    
    h1 
        a(href='/') #{title}
    nav.menu
        ul
            li
                a(href='/') LATEST
            li
                a(href='/up') TOP
            li
                a(href='/down') WORST
div.float_right

    a(href='/api/c')  SUBMIT STORY

div.clear